@model Diplom.Models.Tables.Orders

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfTheContract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfTheContract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLoading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLoading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateUnloading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateUnloading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLoading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationLoading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationUnloading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationUnloading)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WasPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WasPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WasDelivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WasDelivery)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
