@model IEnumerable<Diplom.Models.Tables.Orders>

@{
    ViewData["Title"] = "My orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My orders</h1>

<p>
    <a asp-action="Create">Create order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo.TypeOfCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTheContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLoading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUnloading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationLoading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationUnloading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasDelivery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Cargo.TypeOfCargo)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTheContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLoading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUnloading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLoading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationUnloading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasDelivery)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
