@model Diplom.Models.Tables.Orders

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfTheContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfTheContract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLoading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLoading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUnloading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUnloading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationLoading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationLoading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationUnloading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationUnloading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
