@model IEnumerable<Diplom.Models.Tables.Users>

@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees.EmploymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.PasportData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.Address)
            </th>
            <th>
                @Html.Name("Position")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.EmploymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.PasportData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.Address)
            </td>
            @if (item.Employees.Driver != null)
            {
                <td>
                    @Html.Name("Driver")
                </td>
            }
            else
            {
                <td>
                    @Html.Name("Manager")
                </td>
            }
            <th>
                @Html.DisplayFor(modelItem => item.Email)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
