@model IEnumerable<Diplom.Models.Tables.Employees>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasportData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.Name("Position")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasportData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.Name("Manager")
            </td>
            @if (item.Driver != null)
            {
                <td>
                    @Html.Name("Driver")
                </td>
            }
            else
            {
                <td>
                    @Html.Name(item.Manager.ToString())
                </td>
            }
            <th>
                @Html.DisplayFor(modelItem => item.User.Email)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
